{% extends '@admin/dashboard.html.twig' %}

{% block title %}Panel administratora - Kierowcy | {{ parent() }}{% endblock %}

{% block admin_content %}
    <h3 class="text-center mt-4 mb-4">Zarządzanie kierowcami</h3>
    <a href="{{ path('admin_driver_new') }}">
        <button class="btn btn-success mb-3">
            <i class="fa-solid fa-plus"></i>
            Dodaj kierowcę
        </button>
    </a>
    <div class="card bg-dark mb-5">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Numer samochodu</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in drivers %}
                            <tr>
                                <td>{{ driver.id }}</td>
                                <td>{{ driver.name }}</td>
                                <td>{{ driver.surname }}</td>
                                <td>{{ driver.carNumber }}</td>
                                <td>
                                    <a class="btn btn-outline-success mb-1 mb-md-0" href="{{ path('driver_show', {'id': driver.id}) }}">Wyświetl</a>
                                    <a class="btn btn-outline-info mb-1 mb-md-0" href="{{ path('admin_driver_edit', {'id': driver.id}) }}">Edycja</a>
                                    <form method="post" class="display-inline" action="{{ path('admin_driver_delete', {'id': driver.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
                                        <button class="btn btn-outline-danger mb-1 mb-md-0">Usuń</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
