{% extends 'base.html.twig' %}

{% block title %}Driver{% endblock %}

{% block body %}
    <h1>Driver</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ driver.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ driver.surname }}</td>
            </tr>
            <tr>
                <th>Car_id</th>
                <td>{{ driver.carId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('driver_index') }}">back to list</a>

    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>

    {{ include('driver/_delete_form.html.twig') }}
{% endblock %}
