{% extends 'base.html.twig' %}

{% block title %}Panel administratora | {{ parent() }}{% endblock %}

{% block importmap %}
    {{ parent() }}
    {{ importmap('admin') }}
{% endblock %}

{% block body %}
    {# MOBILE OFFCANVAS #}
    <div class="admin-sidebar offcanvas offcanvas-start d-md-none bg-light border-end"
         tabindex="-1"
         id="admin-sidebar-mobile">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-uppercase text-muted">Panel administratora</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Zamknij"></button>
        </div>
        <div class="offcanvas-body p-0">
            {% include '@admin/partials/_sidebar.html.twig' %}
        </div>
    </div>
    {# END OF MOBILE OFFCANVAS #}

    <div class="container-fluid">
        <div class="row">
            {# BUTTON TOGGLE ONLY ON SMALL SCREENS #}
            <div class="d-md-none py-2 bg-dark border-bottom text-center">
                <button class="btn btn-dark w-100 d-flex align-items-center justify-content-center gap-2"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#admin-sidebar-mobile">
                    <i class="bi bi-list fs-4"></i>
                    <span class="fw-semibold">Menu administratora</span>
                </button>
            </div>

            {# SIDEBAR AS OFFCANVAS FOR SMALL SCREENS + STICKY FOR LARGE SCREENS #}
            <div class="admin-sidebar admin-desktop-sidebar offcanvas offcanvas-start bg-light border-end" data-bs-scroll="true" tabindex="-1" id="admin-desktop-sidebar">
                <div class="offcanvas-body p-0">
                    {% include '@admin/partials/_sidebar.html.twig' %}
                </div>
            </div>

            {# MAIN CONTENT #}
            <div class="col py-3">
                {% for msg in app.flashes('admin_success') %}
                    <div class="alert alert-success mt-3">
                        {{ msg }}
                    </div>
                {% endfor %}
                {% for msg in app.flashes('admin_error') %}
                    <div class="alert alert-danger mt-3">
                        {{ msg }}
                    </div>
                {% endfor %}

                {% block admin_content %}
                    {# tutaj pojawi się treść poszczególnych widoków #}
                    <div id="dashboard-first-row-grid-container">
                        <div id="dashboard-first-row-grid-inline-container">
                            <div id="dashboard-first-row-grid">
                                {{ render(controller('Admin\\Controller\\AdminController::userCountryMap')) }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
