<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Kierowca</th>
                    <th>Zespół</th>
                    <th>Bolid</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in classification %} 
                    <tr id="driver{{ driver.id }}" data-driverid="{{ driver.id }}" class={{ driver.isUser == true ? 'highlight-driver' : ''}}>
                        <td>{{ driver.position }}</td>
                        <td>{{ driver.name }} {{ driver.surname }}</td>
                        <td>{{ driver.team.name }}</td>
                        <td><img class="f1-car-picture" src="/assets/cars/{{ driver.team.picture }}" /></td>
                        <td>{{ driver.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>