<div>
    <div class="table-responsive">
        <table class="table spacier-table">
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Kierowca</th>
                    <th>Zespół</th>
                    <th>Bolid</th>
                </tr>
            </thead>
            <tbody>
                {% for result in currentDriverSeason.classification %}
                    <tr class={{ result.driverId == currentDriverSeason.driver.id ? 'highlight-driver'}}>
                        <td>{{ result.position }}</td>
                        {% if result.driverId == currentDriverSeason.driver.id %}
                            <td>{{ currentDriverSeason.season.user.username }}</td>
                        {% else %}
                            <td>{{ drivers[result.driverId].fullName }}</td>
                        {% endif %}
                        <td>{{ drivers[result.driverId].team.name }}</td>
                        <td>
                            <img alt="{{ drivers[result.driverId].team.name }}-car" class="f1-car-picture" src="/assets/cars/{{drivers[result.driverId].team.picture}}"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
