<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Kierowca</th>
                    <th>Zespół</th>
                    <th>Bolid</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody>
                {% for i, player in classification %}
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.user.username }}</td>
                        <td>{{ player.driver.team.name }}</td>
                        <td><img class="f1-car-picture" src="/assets/cars/{{ player.driver.team.picture }}" alt="f1 car"/></td>
                        <td>{{ player.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
