<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}F1 Simulator{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon/site.webmanifest') }}">
        <meta name="Description" content="Simulate your f1 season as one of the drivers against computer, or compete against players.">
    </head>
    <body class="d-flex flex-column min-vh-100">
        {{ include('navbar.html.twig') }}

        <main class="flex-shrink-0 w-100">
            <div class="container">
                {% block messages %}
                    {% for msg in app.flashes('success') %}
                        <div class="alert alert-success mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in app.flashes('error') %}
                        <div class="alert alert-danger mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    {% for msg in app.flashes('warning') %}
                        <div class="alert alert-warning mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>

            {% block body %}{% endblock %}
        </main>

        {{ include('footer.html.twig') }}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
