<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}F1 Simulator{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">            <script src="https://kit.fontawesome.com/0012002a90.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/utils.css') }}">
        {% endblock %}
        <meta name="Description" content="Simulate your f1 season as one of the drivers against computer, or compete against players.">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <span class="navbar-brand mb-0 h1"><a href="{{ path('app_index') }}" class="text-decoration-none text-white">F1 Simulator</a></span>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"><a class="nav-link text-white" href="{{ path('multiplayer_index') }}">Multiplayer</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="">Hello:  {{ app.user.username }} </a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_login') }}">Logowanie</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_register') }}">Rejestracja</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block messages %}
                {% if app.session.flashBag.has('success') %}
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if app.session.flashBag.has('error') %}
                    {% for msg in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if app.session.flashBag.has('warning') %}
                    {% for msg in app.session.flashBag.get('warning') %}
                        <div class="alert alert-warning mt-3">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
