{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{ asset('assets/js/React/Teams.js') }}" type="text/babel"></script>
    <script src="{{ asset('assets/js/app/Dropdown.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 mb-5">
        <h3 class="text-justify text-center mb-5">#F1Simulator to strona pozwalająca na symulacje sezonu formuły 1</h3>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="card">
                    {% if (season|length) == 0 %}
                        <div class="card-header">
                            <h4>Wybierz zespół i rozpocznij sezon</h4>
                        </div>
                        <div class="card-body flow-text">
                            <form class="form-inline" id="start-season-form" method="post" action="{{ path('game_season_start') }}">
                                <input type="hidden" name="team" id="start-season-form-team-input">
                            </form>

                            <div id="f1-teams">

                            </div>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <h4>Obecny sezon</h4>
                        </div>
                        <div class="card-body flow-text">
                            <span>Kierowca: {{ season.getUser().username }} </span><br>
                            <span>Zespół: {{ season.getDriver().getTeam().name }}</span><br>
                            <span>Numer samochodu: {{ season.getDriver().getCarId() }}</span><br>
                            <span>Rozegrane wyścigi: {{ season.getRaces()|length }} / {{ numberOfRacesInSeason }}</span><br>
                            <span>Zdobyte punkty: {{ season.getUserPoints() }} </span><br>

                            <hr>
                            <div class="driver-medals mt-2">
                                <div class="row">
                                    <div class="col gold-medal mb-1">
                                        <i class="fas fa-medal fa-3x"></i><br>
                                        <span>{{ driverPodiums[1] }}</span>
                                    </div>
                                    <div class="col silver-medal mb-1">
                                        <i class="fas fa-medal fa-3x"></i><br>
                                        <span>{{ driverPodiums[2] }}</span>
                                    </div>
                                    <div class="col bronze-medal mb-1">
                                        <i class="fas fa-medal fa-3x"></i><br>
                                        <span>{{ driverPodiums[3] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card mt-5 mb-2">
                    {% if track.name is defined %}
                        <div class="card-header"> 
                            <h4>Kolejny wyścig</h4> 
                        </div>
                        <div class="card-body flow-text"> 
                            <span>{{ track.name }} - <a href="{{ path('game_simulate_race') }}" class="btn btn-outline-info">Symuluj</a></span><br> 
                            <img class="f1-track mt-3" src="{{ asset('assets/tracks/'~track.picture) }}"/> 
                        </div> 
                    {% elseif (season|length) != 0 %} 
                        <div class="card-header"> 
                            <h4>Koniec sezonu</h4> 
                        </div> 
                        <div class="card-body flow-text"> 
                            <a href="{{ path('game_season_end') }}" class="btn btn-outline-info">Zakończ sezon</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="middle-section-menu mb-3">
                            <div class="">
                                <a class="custom-dropdown" data-target="div-for-race-results-anchors">#Wyniki Wyścigów <i class="fas fa-arrow-down ml-1" data-destiny="races"></i></a>
                                <div class="div-for-classification-results-anchors" id="div-for-race-results-anchors">
                                    {% if season and season.getRaces()|length != 0 %}
                                        {% for race in season.getRaces() %}
                                            <a href="{{ path('app_index' , {'classificationType' : 'race', 'race_id' : race.id}) }}">
                                                {{ race.getTrack().getName() }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <a>Żaden wyścig nie został jeszcze rozegrany</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a class="custom-dropdown" data-target="div-for-qualifications-results-anchors">#Wyniki kwalifikacji <i class="fas fa-arrow-down ml-1" data-destiny="qualifications"></i></a>
                                <div class="div-for-classification-results-anchors" id="div-for-qualifications-results-anchors">
                                    {% if season and season.getRaces()|length != 0 %}
                                        {% for race in season.getRaces() %}
                                            <a href="{{ path('app_index' , {'classificationType' : 'qualifications', 'race_id' : race.id}) }}">
                                                {{ race.getTrack().getName() }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <a>Żaden wyścig nie został jeszcze rozegrany</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a href="/home/drivers">#Klasyfikacja kierowców</a>
                            </div>
                        </div>
                        <div class="card mb-2">
                            {% if classificationType == 'drivers' %}
                                <div class="card-header">
                                    <h4 class="text-center">Klasyfikacja kierowców</h4>
                                </div>
                                <div class="card-body">
                                    {% include 'season_results/_classification.html.twig' %}
                                </div>
                            {% elseif classificationType == 'race' %}
                                <div class="card-header">
                                    <h4 class="text-center">Klasyfikacja - {{ raceName ? raceName : season.races[0].track.name }}</h4>
                                </div>
                                <div class="card-body">
                                    {% include 'season_results/_classification.html.twig' %}
                                </div>
                            {% else %}
                                <div class="card-header">
                                    <h4 class="text-center">Wyniki kwalifikacji - {{ raceName ? raceName : season.races[0].track.name }} </h4>
                                </div>
                                <div class="card-body">
                                    {% include 'season_results/_qualifications_classification.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center">Klasyfikacja konstruktorów</h4>
                            </div>
                            <div class="card-body">
                               <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Miejsce</th>
                                                <th>Zespół</th>
                                                <th>Bolid</th>
                                                <th>Punkty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i, team in teamsClassification %}
                                                <tr>
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ team.name }}</td>
                                                    <td><img class="f1-car-picture" src="{{ asset('/assets/cars/'~team.picture) }}" /></td>
                                                    <td>{{ team.points }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}