{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }} 
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
         
    <script src="{{ asset('assets/js/React/Teams.js') }}" type="text/babel"></script>
    <script src="{{ asset('assets/js/app/Dropdown.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 mb-5">
        <h3 class="text-justify text-center mb-5">#F1Simulator to strona pozwalająca na symulacje sezonu formuły 1</h3>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="card custom-card">
                    {% if currentDriverSeason is same as(null) %}
                        <div class="card-header">
                            <h4>Wybierz zespół i rozpocznij sezon</h4>
                        </div>
                        <div class="card-body flow-text">
                            <form class="form-inline" id="start-season-form" method="post" action="{{ path('game_season_start') }}">
                                <input type="hidden" name="teamId" id="start-season-form-team-input">
                            </form>
                            <div id="f1-teams"></div>
                        </div>
                    {% else %}
                        <div class="card-header">
                            <h4>Obecny sezon</h4>
                        </div>
                        <div class="card-body flow-text">
                            <span>Kierowca: {{ currentDriverSeason.season.user.username }} </span><br>
                            <span>Zespół: {{ currentDriverSeason.driver.team.name }}</span><br>
                            <span>Numer samochodu: {{ currentDriverSeason.driver.carNumber }}</span><br>
                            <span>Rozegrane wyścigi: {{ currentDriverSeason.season.races|length }} / {{ currentDriverSeason.numberOfRaces }}</span><br>
                            <span>Zdobyte punkty: {{ currentDriverSeason.driverPoints }} </span><br>

                            <hr class="light-hr">
                            <div class="driver-medals mt-2">
                                <div class="row">
                                    <div class="col gold-medal mb-1">
                                        <i class="fa-solid fa-medal fa-3x"></i><br>
                                        <span id="first-place-podiums-count">{{ currentDriverSeason.driverPodiums.firstPlacePodiums }}</span>
                                    </div>
                                    <div class="col silver-medal mb-1">
                                        <i class="fa-solid fa-medal fa-3x"></i><br>
                                        <span id="second-place-podiums-count">{{ currentDriverSeason.driverPodiums.secondPlacePodiums }}</span>
                                    </div>
                                    <div class="col bronze-medal mb-1">
                                        <i class="fa-solid fa-medal fa-3x"></i><br>
                                        <span id="third-place-podiums-count">{{ currentDriverSeason.driverPodiums.thirdPlacePodiums }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if currentDriverSeason is not same as(null) %}
                    <div class="card custom-card mt-5 mb-2">
                        {% if currentDriverSeason and currentDriverSeason.currentTrack %}
                            <div class="card-header">
                                <h4>Kolejny wyścig</h4>
                            </div>
                            <div class="card-body flow-text">
                                <span>{{ currentDriverSeason.currentTrack.name }} - <a href="{{ path('game_simulate_race') }}" class="btn btn-outline-info">Symuluj</a></span><br>
                                <img alt="{{ currentDriverSeason.currentTrack.name }}" class="f1-track mt-3" src="{{ asset('assets/tracks/'~currentDriverSeason.currentTrack.picture) }}"/>
                            </div>
                        {% elseif currentDriverSeason %}
                            <div class="card-header">
                                <h4>Koniec sezonu</h4>
                            </div>
                            <div class="card-body flow-text">
                                <a href="{{ path('game_season_end') }}" class="btn btn-outline-info-darker">Zakończ sezon</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row position-relative">
                    <div class="col-xs-12 col-md-8">
                        <div class="middle-section-menu mb-3">
                            <div>
                                <a class="custom-dropdown" data-target="div-for-race-results-anchors">#Wyniki Wyścigów <i class="fas fa-arrow-down ms-1" data-destiny="races"></i></a>
                                <div class="div-for-classification-results-anchors" id="div-for-race-results-anchors">
                                    {% if currentDriverSeason and currentDriverSeason.season.races|length != 0 %}
                                        {% for race in currentDriverSeason.season.races %}
                                            <a href="{{ path('app_index' , {'classificationType' : 'RACE', 'raceId' : race.id}) }}">
                                                {{ tracks[race.trackId()].name }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <a>Żaden wyścig nie został jeszcze rozegrany</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a class="custom-dropdown" data-target="div-for-qualifications-results-anchors">#Wyniki kwalifikacji <i class="fas fa-arrow-down ms-1" data-destiny="qualifications"></i></a>
                                <div class="div-for-classification-results-anchors" id="div-for-qualifications-results-anchors">
                                    {% if currentDriverSeason and currentDriverSeason.season.races|length != 0 %}
                                        {% for race in currentDriverSeason.season.races %}
                                            <a href="{{ path('app_index' , {'classificationType' : 'QUALIFICATIONS', 'raceId' : race.id}) }}">
                                                {{ tracks[race.trackId].name }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <a>Żaden wyścig nie został jeszcze rozegrany</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <a class="hover-underline" href="{{ path('app_index') }}">#Klasyfikacja kierowców</a>
                            </div>
                        </div>
                        <div class="card custom-card mb-2">
                            {% if classificationType == enum('Computer\\Service\\ClassificationType').DRIVERS %}
                                <div class="card-header">
                                    <h4 class="text-center">Klasyfikacja kierowców</h4>
                                </div>
                                <div class="card-body">
                                    {% include '@computer/season_results/_classification.html.twig' %}
                                </div>
                            {% elseif classificationType == enum('Computer\\Service\\ClassificationType').RACE %}
                                <div class="card-header">
                                    <h4 class="text-center">Klasyfikacja - {{ currentDriverSeason ? tracks[currentDriverSeason.classificationRace.trackId].name }}</h4>
                                </div>
                                <div class="card-body">
                                    {% include '@computer/season_results/_classification.html.twig' %}
                                </div>
                            {% elseif classificationType == enum('Computer\\Service\\ClassificationType').QUALIFICATIONS %}
                                <div class="card-header">
                                    <h4 class="text-center">Wyniki kwalifikacji - {{ currentDriverSeason ? tracks[currentDriverSeason.classificationRace.trackId].name }} </h4>
                                </div>
                                <div class="card-body">
                                    {% include '@computer/season_results/_qualifications_classification.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="card custom-card">
                            <div class="card-header">
                                <h4 class="text-center">Klasyfikacja konstruktorów</h4>
                            </div>
                            <div class="card-body">
                               <div class="table-responsive">
                                    <table class="table spacier-table">
                                        <thead>
                                            <tr>
                                                <th>Miejsce</th>
                                                <th>Zespół</th>
                                                <th>Bolid</th>
                                                <th>Punkty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if currentDriverSeason %}
                                                {% for teamResult in currentDriverSeason.teamsClassification.teamsSeasonResults %}
                                                    <tr>
                                                        <td>{{ teamResult.position }}</td>
                                                        <td>{{ teamResult.team.name }}</td>
                                                        <td><img alt="{{ teamResult.team.name }}-car" class="f1-car-picture" src="{{ asset('/assets/cars/'~teamResult.team.picture) }}" /></td>
                                                        <td>{{ teamResult.points }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for teamResult in defaultTeamsClassification.teamsSeasonResults %}
                                                    <tr>
                                                        <td>{{ teamResult.position }}</td>
                                                        <td>{{ teamResult.team.name }}</td>
                                                        <td><img alt="{{ teamResult.team.name }}-car" class="f1-car-picture" src="{{ asset('/assets/cars/'~teamResult.team.picture) }}" /></td>
                                                        <td>{{ teamResult.points }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}